{% load static %}
<footer class="footer-section white-footer pt-10">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <div class="ft-logo-img"> <img src="{% static 'images_new/logos/topteen-logo.svg' %}" class="h-10 w-auto" alt="ft-logo"> </div>
          <p>Every Student, Career Ready! </p>
        </div>
      </div>
      <div class="col-8 offset-md-2 col-lg-2 col-md-2 col-sm-8">
        <div class="ft-list">
          <p class="ft-title">About Us</p>
          <ul>
            <li><a href="#">TopTeen</a></li>
            <li><a href="https://www.topteen.in/about-us">About Us</a></li>
            <li><a href="https://www.topteen.in/contact-us">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-4 col-lg-2 col-md-6 col-sm-4">
        <div class="ft-list">
          <p class="ft-title">Product</p>
          <ul>
            <li><a href="#">Career Assesment Test</a></li>
            <li><a href="https://www.topteen.in/blogs/category/blogs">Blogs For Students</a></li>
            <li><a href="https://www.topteen.in/blogs/category/parenting-blogs">Blogs For Parents</a></li>
            <li><a href="https://www.topteen.in/all-faq">FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="ft-list">
          <p class="ft-title">Socials</p>
          <ul>
            <li><a href="https://www.instagram.com/topteen.careers/">Instagram</a></li>
            <li><a href="https://twitter.com/topteencareers">Twitter</a></li>
            <li><a href="https://www.facebook.com/topteen.in">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="social-icon col-md-12">
        <ul>
          <li><a href="https://www.instagram.com/topteen.careers/"><i class="bi bi-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/topteen.in"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
          <li><a href="#"><i class="bi bi-youtube"></i></a></li>
          <li><a href="https://twitter.com/topteencareers"><i class="bi bi-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="cp-footer">
          <div class="cp-text">
            <p>© 2024 TopTeen. All rights reserved.</p>
          </div>
          <div class="tt-ft-text">
            <ul>
              <li><a href="#">• Terms &amp; Conditions</a></li>
              <li><a href="#">• Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
