{% load static %}
{% include 'includes/footer_nav_mobile.html' %}

<footer class="hidden lg:block bg-[#fdfcff] mx-auto py-[60px]" id="mainFooter">
  <div class="lg:container mx-auto">
    <div class="flex justify-between">
      <div class="w-[246px]">
        <div class="flex gap-[8.2px]">
          <img src="{% static 'topteenfrontend/assets/images/logo.svg' %}" class="w-[38.58px] h-[38.58px]" alt="">
          <p class="text-[13.13px] leading-[17.73px] text-[#494949] mt-[12px] font-bold">TOPTEEN</p>
        </div>
        <div>
          <p class="text-[16px] leading-[21.6px] tracking-[0.01em] text-[#828282] mt-[18px]">Every Student, Career Ready!</p>
        </div>
      </div>
      <div class="flex gap-[109px]">
        <div>
          <a href="/about-us"><p class="text-[16px] leading-[21.6px] text-[#333333] tracking-[0.01em] font-bold">About the company</p></a>
          <a href="/"><p class="text-[16px] leading-[21.6px] text-[#828282] mt-[22px]">TopTeen</p></a>
          <a href="/about-us"><p class="text-[16px] leading-[21.6px] text-[#828282] mt-[16px]">About Us</p></a>
          <a href="/contact-us"><p class="text-[16px] leading-[21.6px] text-[#828282] mt-[16px]">Contact Us</p></a>
        </div>
        <div>
          <a href="#"><p class="text-[16px] leading-[21.6px] text-[#333333] tracking-[0.01em] font-bold">Product</p></a>
          <a href="/psychometrictest/"><p class="text-[16px] leading-[21.6px] text-[#828282] mt-[22px]">Career Assesment Test</p></a>
          <a href="/blogs/category/blogs"><p class="text-[16px] leading-[21.6px] text-[#828282] mt-[16px]">Blogs For Students</p></a>
          <a href="/blogs/category/parenting-blogs"><p class="text-[16px] leading-[21.6px] text-[#828282] mt-[16px]">Blogs For Parents</p></a>
          <a href="/all-faq"><p class="text-[16px] leading-[21.6px] text-[#828282] mt-[16px]">FAQs</p></a>
        </div>
        <div>
          <a href="#"><p class="text-[16px] leading-[21.6px] text-[#333333] tracking-[0.01em] font-bold">Socials</p></a>
          <a href="https://www.instagram.com/topteen.careers/" target="_blank"><p class="text-[16px] leading-[21.6px] text-[#828282] mt-[22px]">Instagram</p></a>
          <a href="https://twitter.com/topteencareers" target="_blank"><p class="text-[16px] leading-[21.6px] text-[#828282] mt-[16px]">Twitter</p></a>
          <a href="https://www.facebook.com/topteen.in" target="_blank"><p class="text-[16px] leading-[21.6px] text-[#828282] mt-[16px]">Facebook</p></a>
        </div>
      </div>
    </div>
    <hr class="text-[#000000] opacity-[0.8] font-bold mt-[42px]">
    <div class="flex justify-between mt-[12px]">
      <p class="text-[12px] leading-[16.2px] text-[#828282]">© 2023 TopTeen. All rights reserved.</p>
      <div class="text-[12px] leading-[16px] text-[#828282] flex">
        <a href="/terms-and-condition" class="underline-offset-[2px]">Terms and Conditions</a>
        <p>&nbsp;.</p>
        <a href="/privacy-policy" class="underline-offset-[2px]">&nbsp;Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
