body {    
    background-color: #f4f4f4;
    padding: 20px;
}
h2 {
    text-align: center;
    color: #333;
}
form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h3 {
    margin-bottom: 10px;
    color: #333;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button[type="submit"]:hover {
    background-color: #45a049;
}
.question-container {
    margin-bottom: 10px;
}

.unchecked {
    border: 2px solid red;
}